<!-- فونت‌های فارسی -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap">

<!-- استایل اختصاصی موسیقی دلکش (لینک مستقیم و قطعی) -->
{{- with resources.Get "css/custom.css" }}
  {{- $css := . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{- end }}

<meta name="theme-color" content="#151009">
<script>
(function(){
  var h = location.hostname;
  if (h.indexOf("github.io") !== -1 || h.indexOf("pages.dev") !== -1) {
    var p = location.pathname.replace(/^\/delkash-music/, "");
    location.replace("https://delkash-music.ir" + p + location.search);
  }
})();
</script>
<!-- داده ساختاریافته Schema.org برای تصنیف‌ها -->
{{- if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicComposition",
  "name": {{ .Title | jsonify }},
  "description": {{ .Description | jsonify }},
  "lyricist": {{ .Params.lyricist | default "نامشخص" | jsonify }},
  "composer": {{ .Params.composer | default "نامشخص" | jsonify }},
  "byArtist": {{ .Params.artist | default "نامشخص" | jsonify }},
  "musicalKey": {{ .Params.dastgah | default "" | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "datePublished": "{{ .Date.Format "2006-01-02" }}"
}
</script>
{{- end }}
